[submodule "node_modules/iai-oop"]
    path = node_modules/iai-oop
    url = https://github.com/laconbass/iai-oop.git
[submodule "node_modules/iai-util"]
    path = node_modules/iai-util
    url = https://github.com/laconbass/iai-util.git
[submodule "node_modules/iai-util"]
    path = node_modules/iai-util
    url = https://github.com/laconbass/iai-util.git
[submodule "node_modules/iai-loader"]
    path = node_modules/iai-loader
    url = https://github.com/laconbass/iai-loader.git
[submodule "node_modules/iai-is"]
    path = node_modules/iai-is
    url = https://github.com/laconbass/iai-is.git
[submodule "node_modules/iai-test"]
    path = node_modules/iai-test
    url = https://github.com/laconbass/iai-test.git
[submodule "node_modules/iai-schema"]
    path = node_modules/iai-schema
    url = https://github.com/laconbass/iai-schema.git
[submodule "dojo/doc"]
	path = dojo/doc
	url = https://github.com/laconbass/iai.wiki.git
