iai-modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

abc/iaido/example/*
!abc/iaido/example/empty

npm-debug.log
node_modules/*
api/*/node_modules/*
abc/iaido/node_modules/*

!node_modules/iai*
!node_modules/ws
!node_modules/ultron
!node_modules/options

dojo/db/fixtures/fs/?0*
