iai-modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/*
!node_modules/iai-*

abc/iaido/example/*
!abc/iaido/example/empty
abc/iaido/node_modules/*
!abc/iaido/node_modules/iai-*

dojo/db/fixtures/fs/?0*
