html, body { height: 100%; }
body { font-family: Monospace; }

header, div.view { box-sizing: border-box; overflow: scroll; }
header { height: 8%; padding: .9em .5em; }
header { white-space: nowrap; overflow-y: hidden; }
  header > * { display: inline-block; }
  header input[type=text] { width: 8ex; }

div.view {
  height: 92%; padding: .5em; box-sizing: border-box;
  overflow: scroll;
  background-color: gray; white-space: pre;
}

#main_action {
  position: fixed; right:.5em; bottom: .5em;
  height: 4em; width: 4em;
  border: none; border-radius: 2em;
  box-shadow: 0 .05em .2em rgba(0,0,0,.7);
}
#main_action:active { background-color: #555; color: #fff; }
#main_action:focus { outline: none; }
