html, body { height: 100%; }
body { font-family: Monospace; }

header, div.view { box-sizing: border-box; overflow: scroll; }
header { padding: .5em; }
header { white-space: nowrap; overflow-y: hidden; }
  header img { max-height: 3em; }
  header > * { display: inline-block; vertical-align: middle; }
  header input[type=text] { width: 8ex; }

body.loaded > header::after { content: '' }
body > header::after {
  content: 'A cargar...';
  display: block;
  text-align: center;
}

div.view {
  box-sizing: border-box;
  padding: .5em;
  min-height: 2em;
  overflow: scroll;
  background-color: gray;
  transition: background-color 1s ease-out;
}
div.view.loading {
  position: relative;
  background-color: purple;
}
  div.view.loading::before {
    content: 'loading view...';
    display: block;
    /*position: absolute; top: 0; right: 0; bottom: 0; left: 0;/**/
  }

div.view#terminal {
  white-space: pre;
  font-size: 1.4em;
}

#stdin {
  position: fixed; bottom: 0; left: 0; right: 4.25em;
  margin: .9em 0; padding: .5em;
  border-radius: 0 .5em .5em 0;
  background: #eee;
  font-size: 1.5em;
  word-wrap: break-word;
}
  #stdin::before { content: '$ '; }
  #stdin.reading::before { content: '> $ '; }

#main_action {
  position: fixed; right: .5em; bottom: .5em;
  height: 4em; width: 4em;
  border: none; border-radius: 2em;
}
  #main_action:hover { background-color: #555; }
  #main_action:active { background-color: #555; color: #fff; }
  #main_action:focus { outline: none; }

#stdin, #main_action {
  box-shadow: 0 .05em .2em rgba(0,0,0,.7);
}
